<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add car</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div id="container">
    <div id="header">

        <h1 style="color: white;margin: auto"> My Quotes </h1>
    </div>
    <div id="menu">
        <a class="current" href="/quotes/main">Main page </a>
        <a class="option" href="/quotes/list">My Quotes </a>
        <a class="option" href="/quotes/add">Manage my quotes</a>
        <a class="option" href="/quotes/random">Get random quote </a>
        <a class="option" href="/quotes/author">Get quotes from author</a>
    </div>
    <div th:insert="logout.html"></div>

    <div id="content" style="width: 75%;margin: auto">
        <br><br>
       <div style="margin: auto">
           <h1>Welcome to MyQuotes </h1>
           <h5><i>the first page that lets you store all your favourite quotes</i></h5>
       </div>

        <br>
        <img src="http://i.stack.imgur.com/SBv4T.gif" alt="this slowpoke moves"  width="250" />
        <br><br>
        <h5>This website was made with data from <a href="https://zenquotes.io" target="_blank">zenquotes.io</a>.</h5>
        <br><br>

        <div >
            <h4 th:inline="text" >
                Quote of the day : <i>[[${q.getQ()}]] ~ [[${q.getA()}]]</i>
            </h4>
        </div>


    </div>


</div>
<footer id="footer"> Jan Ostrowski ©</footer>


</body>
</html>