<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}">
<body>

<div id="container">
    <div id="header">

        <h1 style="color: white;margin: auto"> My Quotes </h1>
    </div>
    <div id="menu">
        <a class="current" href="/quotes/list">My Quotes </a>
        <a class="option" href="/quotes/add">Add quote</a>
        <a class="option" href="/quotes/update">Update quote</a>
        <a class="option" href="/quotes/delete">Delete quote</a>
    </div>

    <h1>My list of quotes</h1>
    <table>

        <tr th:each="q : ${quotes}">
            <td th:text="${q.id}"></td>
            <td th:text="${q.author}"></td>
            <td th:text="${q.text}"></td>
            <td ><img th:src="${q.image_link}" width="80" height="80" onerror="this.onerror=null; this.src='https://pngset.com/images/away-face-no-nobody-spirited-icon-anime-icon-outdoors-nature-text-graphics-transparent-png-2614922.png'" alt=""></td>

        </tr>
        <tr>
            <td >2</td>
            <td >Dan Brown</td>
            <td >“Everything is possible. The impossible just takes longer.” </td>
            <td ><img src="http://t2.gstatic.com/licensed-image?q=tbn:ANd9GcSixVcGyIhxK2D04tW19JIOCZuFYPueqASq3vQBWr2vIpq6h2MR5-oQn6JHxgPT"  width="80" height="80"  alt="https://icon-library.com/images/no-photo-icon/no-photo-icon-0.jpg" ></td>

        </tr>
    </table>




</div>
<footer id="footer"> Jan Ostrowski © </footer>

</body>
</html>