<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add car</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div id="container">
    <div id="header">

        <h1 style="color: white;margin: auto"> My Quotes </h1>
    </div>
    <div id="menu">
        <a class="option" href="/quotes/main">Main page </a>
        <a class="option" href="/quotes/list">My Quotes </a>
        <a class="option" href="/quotes/add">Manage my quotes</a>
        <a class="current" href="/quotes/random">Get random quote </a>
        <a class="option" href="/quotes/author">Explore quotes</a>
    </div>
    <div th:insert="logout.html"></div>

    <div id="content" style="width: 75%;margin: auto">
        <br><br>
        <h1>Your random quote:</h1>
        <br>
        <i> <h3 th:inline="text" >
            [[${q.getQ()}]]
            <p> ~<small th:text="${q.getA()}">Subtitle</small></p>
        </h3></i>
        <br>
        <form th:action="@{/quotes/random}" th:object="${q}" method="post">
            <input type="hidden" th:field="*{q}"/>
            <input type="hidden" th:field="*{a}"/>
            <button type="submit" class="btn btn-secondary">Add quote to your list</button>
        </form>
    </div>

</div>
<footer id="footer"> Jan Ostrowski ©</footer>


</body>
</html>